<!DOCTYPE html>
<html xmlns:th="http://www.thyeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Edit Bike</h1>
	<form action="#" th:action="@{/modifyBike}" th:object="${bindBike}">
		<!--  hidding the id of the item-->
		<input type="hidden" th:field="*{id}" /><br> 
		Frame Type:<input type="text" th:field="*{frameType}" /><br> 
			Radius:<input type="text" th:field="*{radius}" /><br> 
			Gears:<input type="text" th:field="*{gears}" /><br> 
			Price:<input type="text" th:field="*{price}" /><br>


		<!-- Genre:<select th:field="*{}">

			<option th:each="g:*{genres}" th:value="${g}" th:text="${g}"></option>
		</select> -->
		<br> <input type="submit" value="Save Bike" /><br> <br>

	</form>
</body>
</html>