<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Show Bikes</title>
</head>
<body>
	<table border="1">
		<tr>
			<th>Frame Type</th>
			<th>Radius</th>
			<th>Gears</th>
			<th>Price</th>			
			<th colspan="2">Modify</th>
			

		</tr>
		<tr th:each="p:${bindBike}">
				<td th:text="${p.frameType}"></td>					
				<td th:text="${p.radius}"></td>
				
				<td th:text="${p.gears}"></td>
					
				<td th:text="${p.price}"></td>
				<td>	
				<a href="#" th:href="@{/edit/{id}(id=${p.id})}">Edit</a> 
				</td>
				<td>
				<a href="#" th:href="@{/delete/{id}(id=${p.id})}">Delete</a>
				</td>
		</tr>
	</table>

</body>
</html>